<!DOCTYPE HTML>
<html lang = "en">
<head>
  <title>THE OREGON TRAIL</title>
  <meta charset = "UTF-8" />
  <link rel="stylesheet" type="text/css" href="global.css">
  <link rel="stylesheet" type="text/css" href="game.css">
</head>
<body>
  <h1>The Oregon Trail!</h1>
  <img src="main.jpg" width="800px" height="600px">
  <h2>1. Be a banker from Boston</h2>
  <h2>2. Be a carpenter from Ohio</h2>
  <h2>3. Be a farmer from Illinois</h2>
  <h2>4. Find out the differences between the choices</h2>
  <br/>
  <h2 id="spacebar">Press the spacebar to go to the main menu.</h2>
  <h2 id="music">Turn Music Off</h2>
  <script src="global.js"></script>
  <script src="game.js"></script>
  
</body>
</html>