<!DOCTYPE HTML>
<html lang = "en">
<head>
  <title>MAIN MENU</title>
  <meta charset = "UTF-8" />
  <link rel="stylesheet" type="text/css" href="global.css">
  <link rel="stylesheet" type="text/css" href="mainmenu.css">
</head>
<body>
  <h1>Main Menu</h1>
  <img src="main.jpg" width="800px" height="600px">
  <h2 id="toGame">1. Travel the trail</h2>
  <h2>2. Learn about the trail</h2>
  <h2 id="toTopTen">3. See the Oregon top 10</h2>
  <h2 id="music">Turn Sound On</h2>
  <script src="global.js"></script>
  <script src="mainmenu.js"></script>
  
  
</body>
</html>