<!DOCTYPE HTML>
<html lang = "en">
<head>
  <title>TOP TEN</title>
  <meta charset = "UTF-8" />
  <link rel="stylesheet" type="text/css" href="global.css"/>
  <link rel="stylesheet" type="text/css" href="topten.css"/>
</head>
<body>
  <h1>Top Ten List</h1>
  <img src="main.jpg" width="800px" height="600px"/>
  <b id="number1"></b>
  <b id="number2"></b>
  <b id="number3"></b>
  <b id="number4"></b>
  <b id="number5"></b>
  <b id="number6"></b>
  <b id="number7"></b>
  <b id="number8"></b>
  <b id="number9"></b>
  <b id="number10"></b>
  <h2 id="spacebar">Press the spacebar to go to the main menu.</h2>
  <h2 id="music">Turn Sound On</h2>
  <script src="global.js"></script>
  <script src="topten.js"></script>
  
</body>
</html>